@media screen and (min-width:784px) {

    header>nav>ul {
        grid-template-columns: repeat(10, 1fr);
    }
    header>nav>ul>li:first-child {
        grid-column-start: 4;
        grid-column-end: 5;
    }

    #profile-details { display: grid;
        grid-template-columns: 1fr 3fr 3fr 1fr ;
        grid-template-rows:  1fr 1fr 1fr 1fr;
    }
    #hello,#resume,#projects{
        margin: 40px 15% ;
    
    }
}