.timeline {
  overflow: visible;
}


.entry {

  margin-left: 20px;
  position: relative;
  border-radius: 5px;
  overflow: visible;

}

.core {
  width: inherit;
  height: inherit;
}

.entry:after {

  content: '';
  position: absolute;
  display: block;
  /* width:35px; */
  height: 1px;
  background: transparent;
  top: 100%;
  left: -19%;

}

.entry:before {
  margin-left: 100px;
  content: "";
  position: absolute;
  width: 1px;
  height: 130%;

  display: block;
  border-radius: 4px;
  border: 2px solid black;
  background: black;
  left: -19%;
}

.core:before {
  margin-left: 100px;

  content: '';
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  padding: 1;
  border-radius: 5px;
  border: 2px solid black;
  background: white;
  top: 52%;
  left: -19.25%;
}

/* Style the tab */
.tab {
  overflow: hidden;
  /* border: 1px solid #ccc; */
  /* background-color: #f1f1f1; */
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: transparent;
  /* background-color: black; */
  color: grey;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  text-decoration: underline;
}

/* Create an active/current tablink class */
.tab button.active {
  color: white;
  background-color: black;
  /* text-decoration: underline; */
  /* background-color: #ccc; */
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border-top: none;
}


/*  */
/* body .cursor {
    pointer-events: none;
  }
  body .cursor__ball {
    position: fixed;
    top: 0;
    left: 0;
    mix-blend-mode: difference;
    z-index: 1000;
  }
  body .cursor__ball circle {
    fill: #f7f8fa;
  } */